@charset "UTF-8";
body {
	height:100%;
	background-color: #EEEEEE;
	position: relative;
}
body,ul,li,div,p{
	margin: 0px;
	padding: 0px;
}
input{
	outline: none !important;
}
.lf {
	float: left;
}
.rf {
	float: right;
}
.clearfix:after {
	content: ".";
	display: block;;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix {
	zoom:1;
}
.div_hidden {
	display: none;
}
a,a:hover {
	text-decoration: none;
}
.header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:10000;
	width: 100%;
    height: 60px;
    border-bottom: 1px solid #404553;
    border-right: 1px solid #404553;
    background-color: #393D49;
	
}
.logo {
	background-image: url("../img/logo.png");
	background-size: 100% 100%;
	width:135px;
	height:40px;
	position: absolute;
	top:10px;
	left: 160px;
}
.header_nav {
	width:320px;
	height:60px;
	position: absolute;
	top: 0px;
	left:400px;
}
.header_nav li {
	width:80px;
	height:60px;
	text-align:center;
	line-height:60px;
	font-size: 16px;
	color: #FFFFFF;
	opacity: .65;
	list-style-type: none;
	margin-right: 25px;
}
.header_nav li:hover {
	opacity: .99;
	cursor: pointer;
}
.header_nav svg{
	margin-top: 17px;
}

.user {
	width:80px;
	height:40px;
	position: absolute;
	left: 1150px;
	text-align: center;
	line-height: 60px;
	opacity: .80;
}
.user a {
	color: #FFFFFF ;
}
.user:hover {
	opacity: .99;
}
.avatar {
	background-image: url("../img/0.jpg");
	background-size: 100% 100%;
	width:40px;
	height:40px;
	position: absolute;
	top:10px;
	left: 1250px;
	border-radius: 20px;
}
.mid_container {
	margin: 80px auto 0 auto;
	width: 1180px;
}
.icon {
       width: 1em; 
       height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
}
.icon_size {
	width: 25px !important;
	height: 25px !important;
}
.li_color {
	color: #009688 !important;
}
