@charset "UTF-8";
li {
	list-style-type: none;
}
.mid_container a {
	color: #000000;
}
.left_content {
	width: 780px;
	height: 800px;
}
.right_content {
	width: 380px;
	height: 800px;
	background-color: #FFFFFF;
}
.top_post {
	width: 780px;
	height: 130px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
}
.top_lab {
	width: 780px;
	height: 51px;
	padding-left: 20px;
	line-height: 50px;
	border-bottom: 1px solid #EEEEEE;
}
.post_ul {
	width: 780px;
	height: 700px;
	background-color: #FFFFFF;
}
.post_nav {
	width: 780px;
	height: 51px;
	border-bottom: 1px solid #EEEEEE;
	line-height: 50px;
	color: #ECECEC;
	padding-left: 10px;
}
.post_nav a{
	color: #666666;
	font-size: 14px;
	margin: 0 10px 0 10px;
}
.post_nav a:hover,.post_title:hover,.post_userName:hover {
	color: #009688;
	cursor: pointer;
}
.post_li {
	width: 780px;
	height: 76px;
	padding:15px 215px 15px 20px;
	border-bottom: 1px solid #EEEEEE;
	position: relative;
}
.post_li img {
	width: 45px;
	height: 45px;
	cursor: pointer;
}
.post_info {
	width: 680px;
	height: 45px;
	font-size: 16px;
	position: absolute;
	top:15px;
	left:85px;
}
.post_info p {
	margin-bottom: 5px;
}
.post_state{
	width:34px;
	height:18px;
	color: #5FB878;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	border-radius: 2px;
	border: 1px solid #5FB878;
	margin-right: 15px;
	display: inline-block;
}
.post_userName,.post_publishTime,.post_replyNum{
	font-size: 12px;
	color:#999999;
	margin-right: 20px;
}
.post_gold {
	color:#FF7200;
	font-size: 12px;
	margin-right: 20px;
}