@charset "UTF-8";
li {
	list-style-type: none;
}
.mid_container a {
	color: #000;
}
.left_content {
	width: 780px;
	height: auto;

}
.right_content {
	width: 380px;
	height: 800px;
	background-color: #FFF;
}
.theme_post {
	width: 780px;
	height: auto;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #FFF;
}
.theme_post span,.reply_userInfo span {
	color: #999;
}
.post_type {
	width: auto;
	height: 20px;
	border: 1px solid #EEE;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
	margin-right: 5px;
}
.post_state {
	width:34px;
	height:20px;
	color: #FFFFFF !important;
	background-color: #5FB878;
	padding: 2px 5px 2px 5px;
}
.post_browseNum,.post_replyNum,.post_likeNum,.post_replyNum {
	margin-right:20px;
	color: #999;
}
.icon_mid_size {
	width: 16px !important;
	height: 16px !important;
}
.post_userInfo {
	width: 740px;
	height: 76px;
	background-color: #EEE;
	margin-top: 20px;
	border-bottom: 1px solid #DDD;
	padding: 15px 20px 15px 20px;
	position: relative;
}
.post_userInfo img,.reply_userInfo img {
	width: 45px;
	height: 45px;
	cursor: pointer;
}
.post_userInfo p,.reply_userInfo p {
	width: 685px;
	height: 45px;
	position: absolute;
	top:15px;
	left:85px;
}
.post_gold {
	color:#FF7200;
	position: absolute !important;
	top:40px !important;
	left: 85px !important;

}
.post_gold span {
	color:#FF7200;
}
.post_collect {
	width: 740px;
	height: 51px;
	padding: 10px 20px 10px 20px;
	background-color: #EEE;
}
#collect_btn {
	width: 60px;
	height:30px;
	background-color: #009688;
	text-align: center;
	line-height: 16px;
}
#collect_btn:hover {
	cursor: pointer;
	opacity: .80;
}
.post_content {
	width: 740px;
	height: auto;
	margin: 30px 0 20px 0;
	padding: 0 15px;
	outline: none;
	border: none;
	
}
.reply_posts {
	width: 780px;
	height: auto;
	background-color: #FFF;
	padding: 15px 20px 15px 20px;
}
.reply_post_head {
	width: 740px;
	height: 40px;
	text-align: center;
} 
.reply_post_head .line {
    width: 340px;
    border-top: 1px solid #ccc ;
    display: inline-block;
}
.reply_post_head .txt {
	font-size:24px;
	color: #666;
	vertical-align: -20%;
}
.reply_userInfo {
	width: 740px;
	height: 76px;
	margin-top: 20px;
	padding: 15px 20px 15px 20px;
	position: relative;
}
.reply_userInfo svg {
	position: absolute;
	top:15px;
	left: 500px;
}
.icon_size_40 {
	width: 70px !important;
	height: 70px !important;
}
.reply_post_li li{
	border-bottom: 1px solid #EEE;
}
.post_likeNum,.post_replyNum {
	cursor: pointer;
	margin-bottom: 10px;
}
#post_editor{
	margin-top: 20px;
	margin-bottom: 15px;
}
#reply_userName{
	color:#01AAED;
}